.venv/
driving_dataset/
driving_dataset_2/
driving_dataset_2_cropped/
driving_dataset_2_og/
driving_dataset_3_og/
driving_dataset_3/
driving_dataset_4/
joined_dataset/
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg